#contacts {
    width: 100%;
    background-size: cover;
    position: center;
}

#contact-list ul {
    list-style-type: none;
    border-color: green;
    
    
}

#contact-data {}

/* #contact-information {} */

/* #weather {} */

#location-map {
    height: 400px;
    width: 100%;
}

ul {
    list-style-type: none;
    text: success
}

button {
    padding: 5px;


}
footer{
    padding: 10px;
}


@media screen and (max-width: 768px) {
    flex-direction: column;
}
