/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#contacts {
    margin: 20 20 20 20;
    width: 100%;
    background-color: grey;
    background-size: cover;
    position: left;
}

<<<<<<< HEAD
.container >div >section  {
    min-height: 100vh;
}


#contact-data {}
=======
/* #contact-data {} */
>>>>>>> 4e67ce1684ada3718839784391ba25e870612b95 */

/* #contact-information {} */

/* #weather {} */

#location-map {
    height: 500px;
    width: 100%;
}


/* footer {} */